:root {
    --headerHeight: 3.5rem;
    --padding: 15px;
    --navWidth: 20rem;
    --offsetFromHeader: calc(var(--headerHeight) + var(--padding));
}

#AppRoot {
    height: 100vh;
    overflow-y: hidden;
    padding: var(--headerHeight) var(--padding) 0 var(--navWidth);
}

.react-root {
    height: 100%;
    overflow-y: auto;
    padding: var(--padding) 0;
}

header {
    background: #cf4647;
    color: #fff;
    height: var(--headerHeight);
    left: 0;
    line-height: var(--headerHeight);
    padding: 0 calc(var(--padding) * 2);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.navigation {
    bottom: var(--padding);
    left: 0;
    position: fixed;
    top: var(--offsetFromHeader);
    width: var(--navWidth);
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-settings {
    margin-top: auto !important;
}

.app-settings .glyphicon {
    font-size: 1.5em;
    margin-right: 0.75rem;
    vertical-align: -0.15em;
}

.field-enabled {
    position: absolute;
    right: var(--padding);
    top: 0;
}

.task-runners {
    align-items: center;
    display: flex;
    height: var(--headerHeight);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.task-runners .btn-group {
    margin-right: var(--padding);
}

.array-item > .col-xs-9 {
    width: calc(100% - 8rem);
}

.array-item-toolbox {
    width: 8rem;
}

.array-col-dest-rename legend {
    display: none;
}

.array-col-dest-rename fieldset .form-group {
    width: 47%;
    display: inline-block;
}

.array-col-dest-rename fieldset .form-group:last-child {
    margin-left: 6%
}

.view--console {
    background: #333;
    color: #f1f1f1;
    margin-right: var(--padding);
    min-height: 100%;
    padding: var(--padding);
    white-space: pre;
}

@media (min-width: 48em) {
    .array-row {
        display: flex;
    }

    .array-col-dest-location {
        flex-basis: 60rem;
        flex-grow: 2;
    }

    .array-col-dest-minify {
        flex-basis: 20rem;
        flex-grow: 1;
        min-width: 12.5rem;
    }

    .array-col-dest-rename {
        flex-basis: 40rem;
        flex-grow: 1;
    }

    .array-col-lib-name,
    .array-col-lib-global {
        flex-basis: 40rem;
        flex-grow: 1;
    }
}
